<div class="container">
  <div class="row justify-content-center mb-4">
    <img src="./assets/icon.png" alt="Logo" class="center-image">
    <div class="text-sub">Bem-vindos à página do Projeto Kifome! Aqui você encontrará os links de redirecionamento para o que você precisa.</div>
  </div>
  
  <div class="row">
    <div id="Autores">
      <hr style="height: 10px; border-radius: 5px;">
      <div class="titulo">AUTORES</div>
      <hr style="height: 10px; border-radius: 5px;">

      <div class="row row-cols-7">
        <div class="col text-center circle-container">
          <a id="Diego" href="https://www.linkedin.com/in/diego-oliveira-1174a9233/" target="_blank" class="circle" style="background-color:gray; background-image: url('https://media.licdn.com/dms/image/C4E03AQGRu7j0P60-MA/profile-displayphoto-shrink_800_800/0/1654035790251?e=1721865600&v=beta&t=kH42DYsjrqaZcB8GBLwDVoIs6prbf9IE_-jfMm0ZJd4');"></a>
          <div class="text bold">Diego Oliveira</div>
          <div class="text">Artigo<br>Front-end</div>
        </div>

        <div class="col text-center circle-container">
          <a id="Felipe" href="https://www.linkedin.com/in/felipe-castelo-hernandes-9925681b3/" target="_blank" class="circle" style="background-color:gray; background-image: url('https://media.licdn.com/dms/image/C4D03AQF8fK3i-mWlxg/profile-displayphoto-shrink_800_800/0/1631805622961?e=1721865600&v=beta&t=ef4ioFSP_qpPcRc2CnBazxhkZcEC1e_U9Woh92MkFyI');"></a>
          <div class="text bold">Felipe Castelo Hernandes</div>
          <div class="text">Front-end</div>
        </div>

        <div class="col text-center circle-container">
          <a id="Isabella" href="https://www.linkedin.com/in/isabella-nepomucena-8b0389229/" target="_blank" class="circle" style="background-color:gray; background-image: url('https://media.licdn.com/dms/image/D4D03AQEVbzz6e1ftjQ/profile-displayphoto-shrink_800_800/0/1716163150001?e=1721865600&v=beta&t=GGcTxGbvOhkENF9jDcpwAXZkrvX7G84NDSevD8PZ9Fg');"></a>
          <div class="text bold">Isabella Nepomucena</div>
          <div class="text">Artigo<br>Banner</div>
        </div>

        <div class="col text-center circle-container">
          <a id="Lincon" href="https://www.linkedin.com/in/lincon-ferreira-86637a26b/" target="_blank" class="circle" style="background-color:gray; background-image: url('https://media.licdn.com/dms/image/D4D03AQGDhSMtKuAnmQ/profile-displayphoto-shrink_800_800/0/1697509815591?e=1721865600&v=beta&t=hc8dLQ3G-32qU714uoPmz06xBUrDKbp0MCSBK3CadnE');"></a>
          <div class="text bold">Lincon da Silva</div>
          <div class="text">Artigo<br>Banner<br>MER<br>Pesquisa</div>
        </div>
        
        <div class="col text-center circle-container">
          <a id="Ricardo" href="https://www.linkedin.com/in/ricardo-yudi-pimentel/" target="_blank" class="circle" style="background-color:gray; background-image: url('https://media.licdn.com/dms/image/C4E03AQEMRtPHhm1cZg/profile-displayphoto-shrink_800_800/0/1663960438947?e=1721865600&v=beta&t=Pty53z1OWMhoiHb2lpnBK5h5F5ExIEkExg--fMOXy5Q');"></a>
          <div class="text bold">Ricardo Yudi</div>
          <div class="text">Artigo<br>Banner<br>MER<br>Figma<br>Front-end<br>Page</div>
        </div>

        <div class="col text-center circle-container">
          <a id="Rita" href="https://www.linkedin.com/in/rita-de-cassia-dos-santos-lopes-8546aa237/" target="_blank" class="circle" style="background-color:gray; background-image: url('https://media.licdn.com/dms/image/D4D03AQHXYxMK0VvPwA/profile-displayphoto-shrink_800_800/0/1716378224282?e=1721865600&v=beta&t=_daY5-we1KMrLmzNdze_Saafu06x6z8mOMhy83LKld0');"></a>
          <div class="text bold">Rita de Cássia</div>
          <div class="text">Artigo<br>Banner<br>UML</div>
        </div>

        <div class="col text-center circle-container">
          <a id="Vitor" href="https://www.linkedin.com/in/vitor-hugo-navarro-libano-51603026b/" target="_blank" class="circle" style="background-color:gray; background-image: url('https://media.licdn.com/dms/image/D4E03AQFBGhizbMniBA/profile-displayphoto-shrink_800_800/0/1679510632918?e=1721865600&v=beta&t=sjAVU1_ILw7abHEEijmPFMmN0qOKhSKGhbrWvJ2YU2w');"></a>
          <div class="text bold">Vitor Hugo</div>
          <div class="text">Artigo<br>Banner<br>UML</div>
        </div>

        <div class="text" style="font-size: 12px; margin-top: 15px; text-align : center;">
          Agradecemos especialmente aos nossos colegas que contribuíram para este projeto, mesmo que tenham deixado nossa equipe: Alvaro da Luz, Cíntia Araújo e Gustavo Junior.
        </div>
        
      </div>
    </div>

    <div id="Links">
      <hr style="height: 10px; border-radius: 5px;">
      <div class="titulo">Links</div>
      <hr style="height: 10px; border-radius: 5px;">

      <div class="row-cols-1 row-cols-sm-2 row-cols-md-3" style="margin-top: -20px;"> 
        <div class="col text-center rectangle-container mt-3">
            <div class="text-sub">Artigo</div>
            <a href="https://docs.google.com/document/d/1GNq6pyjSAdkEuSVaxLONI77eUE1Pbt7R/edit?usp=sharing&ouid=114056186579863968858&rtpof=true&sd=true" target="_blank" class="rectangle-doc" style="background-color:black; background-image: url('./assets/Artigo.jpg');"></a>
            <div class="text" style="margin-top: 10px;">Documento</div>
        </div>

        <div class="col text-center rectangle-container mt-3">
            <div class="text-sub">Banner</div>
            <a href="https://drive.google.com/file/d/1QwjxOGTHqqjTaLbKpCSzogFhtZNnGMjw/view" target="_blank" class="rectangle-doc" style="background-color:black; background-image: url('./assets/Banner.jpg');"></a>
            <div class="text" style="margin-top: 10px;">Resumo</div>
        </div>

        <div class="col text-center rectangle-container mt-3">
            <div class="text-sub">Figma</div>
            <a href="https://www.figma.com/proto/GVknqD4SJeWC8hjK9GyCDb/KiFome?node-id=1-2&starting-point-node-id=1%3A2&t=cuaTBPfhkOpiqBGy-1" target="_blank" class="rectangle-doc" style="background-color:black; background-image: url('./assets/Figma.png');"></a>
            <div class="text" style="margin-top: 10px;">Vizual e Navegação</div>
        </div>
      </div>    

      <div class="row-cols-1 row-cols-sm-2 row-cols-md-3"> 
        <div class="col text-center rectangle-container">
          <div class="text-sub">MER</div>
          <a href="https://drive.google.com/file/d/1dgept7SRZlU2T3Vku6e2Zdgs3Adtdg7K/view" target="_blank" class="rectangle" style="background-color:black; background-image: url('./assets/MER.png');"></a>
          <div class="text" style="margin-top: 10px;">Modelo Entidade Relacionamento</div>
        </div>

        <div class="col text-center rectangle-container">
          <div class="text-sub">UML</div>
          <a href="https://docs.google.com/document/d/1UxDXD16O91eDFLhc7wE8baoEh_Gl9PiBgMd6uJc958c/edit" target="_blank" class="rectangle" style="background-color:black; background-image: url('./assets/UML.png');"></a>
          <div class="text" style="margin-top: 10px;">Diagramas</div>
        </div>

        <div class="col text-center rectangle-container">
          <div class="text-sub">Forms</div>
          <a href="https://docs.google.com/document/d/13DOcJgDHEcQDexVaEEEsbBK62Jzv4wzov7w3VGaT868/edit" target="_blank" class="rectangle" style="background-color:black; background-image: url('./assets/Pesquisa.png');"></a>
          <div class="text" style="margin-top: 10px;">Pesquisa de Mercado</div>
        </div>
      </div>

      <div class="row-cols-1 row-cols-md-2"> 
        <div class="col text-center rectangle-container">
          <div class="text-sub">GitHub</div>
          <a href="https://github.com/Riyutapi/kifome" target="_blank" class="rectangle" style="background-color:black; background-image: url('./assets/GitHub.png');"></a>
          <div class="text" style="margin-top: 10px;">Repositório do Código</div>
        </div>
        
        <div class="col text-center rectangle-container">
          <div class="text-sub">Expo Snack</div>
          <a href="https://snack.expo.dev/@riyutapi/github.com-riyutapi-kifome@develop" target="_blank" class="rectangle" style="background-color:black; background-image: url('./assets/ExpoSnack.png');"></a>
          <div class="text" style="margin-top: 10px;">Visualize o App em Ação</div>
        </div>
      </div>

      <div class="row-cols-1">  
        <div class="col text-center rectangle-container">
          <div class="text-sub">Download</div>
          <a href="https://expo.dev//accounts/riyutapi/projects/kifome/builds/00678c9c-3462-487f-a2fc-ae36fd186d34" target="_blank" class="rectangle-qr" style="background-color:black; background-image: url('./assets/qrcodeAPK.png');"></a>
          <div class="text" style="margin-top: 10px;">Baixar APK</div>
        </div>
      </div>

      <hr style="height: 10px; border-radius: 5px;">
    </div>

    <div id="Orientadores">
      <div class="titulo">ORIENTADORES</div>
      <hr style="height: 10px; border-radius: 5px;">

      <div class="row row-cols-4">  
        <div class="col text-center circle-container">
          <a id="Eliane" href="https://www.linkedin.com/in/elianeamaral/" target="_blank" class="circle" style="background-color:gray; background-image: url('https://media.licdn.com/dms/image/C4D03AQF2Kbv1a0t-JQ/profile-displayphoto-shrink_800_800/0/1605193144819?e=1721865600&v=beta&t=YQetjbecdNu5NbkMZeF9K8RbJU81nJbgRVRJLRWOmQw');"></a>
          <div class="text bold">Eliane Amaral</div>
          <div class="text">2° Semestre</div>
        </div>

        <div class="col text-center circle-container">
          <a id="Adriano" href="https://www.linkedin.com/in/adriano-arrivabene-2a236568/" target="_blank" class="circle" style="background-color:gray; background-image: url('https://media.licdn.com/dms/image/D4D03AQHR10B3ih44Xg/profile-displayphoto-shrink_800_800/0/1689864780759?e=1721865600&v=beta&t=6oryi3F1y7HrUwoPDe3VfQWi7XtTtY5GBYjZCp4XGgs');"></a>
          <div class="text bold">Adriano Arrivabene</div>
          <div class="text">3° Semestre</div>
        </div>

        <div class="col text-center circle-container">
          <a id="Giocondo" href="https://www.linkedin.com/in/giocondo-m-a-gallotti-3401b51/" target="_blank" class="circle" style="background-color:gray; background-image: url('https://media.licdn.com/dms/image/C5103AQECCqXUZrkv0A/profile-displayphoto-shrink_800_800/0/1516234794088?e=1721865600&v=beta&t=Ic3Rf4rgP-7xkW2LSXQZ3uA6jMu5fPNun2ZNL1G6JQg');"></a>
          <div class="text bold">Giocondo M. A. Gallotti</div>
          <div class="text">4° Semestre</div>
        </div>

        <div class="col text-center circle-container">
          <a id="Claudiney" href="https://www.linkedin.com/in/claudiney-sanches-junior-4b209939/" target="_blank" class="circle" style="background-color:gray; background-image: url('https://media.licdn.com/dms/image/C5603AQFoydmy5X8isg/profile-displayphoto-shrink_800_800/0/1516808895391?e=1721865600&v=beta&t=YFJhpuvML7YC1_26HDmzbkpcKSSDKq5fGm1_ZhtAYt8');"></a>
          <div class="text bold">Claudiney Sanches Junior</div>
          <div class="text ">Coordenador dos Cursos da Área de TI</div>
        </div>
      </div>

      <div class="text" style="font-size: 12px; margin-top: 15px; text-align : center;">
        Expressamos nossa gratidão aos demais professores da FAM que contribuíram para nossa jornada acadêmica.
      </div>
      <hr style="height: 10px; border-radius: 5px;">
    </div>

  </div>
</div>
