.center-image {
    margin: 10px auto;
    max-width: 15%;
    height: auto;
    min-width: 120px;
}

.circle, .rectangle, .rectangle-qr, .rectangle-doc {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    border: solid 2px black;
}

.circle:hover, .rectangle:hover, .rectangle-qr:hover, .rectangle-doc:hover {
    transform: scale(1.1);
}

.circle-container, .rectangle-container {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.text, .text-sub {
    margin-top: 2px;
    font-size: 14px;
}

.titulo {
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 800;
    color: #FE5D1E;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.bold {
    font-weight: bold;
}

.text-sub {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
}

.rectangle {
    width: 90%;
    max-width: 400px;
    height: 200px;
    border-radius: 20px;
}

.rectangle-qr {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.rectangle-doc {
    width: 200px;
    height: 300px;
    border-radius: 20px;
}
